@{
    ViewData["Title"] = "Bienvenido";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p> <label>Estás entrando en las consultas de información de nuestra empresa</label>.</p>
</div>
